body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header a {
    color: inherit; /* Use the color inherited from the parent (.header) */
    text-decoration: none; /* Remove underline */
}

.symbol-left,
.symbol-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background-size: cover;
}
.symbol-left {
    left: 10px;
    background-image: url('symbol.png');
    background-position: center;
}
.symbol-right {
    right: 10px;
    background-image: url('symbol.png');
    background-position: center;
}
#pdfContainer {
    width: 100%;
    height: calc(200vh - 200px); /* Adjust height as needed */
    overflow-y: auto;
}
canvas {
    display: block;
    margin: 0 auto;
    width: 100%; /* Adjust width as needed */
}
.header2 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}